




<%= render partial: "movie", locals: {movies: @movies} %>

<% if session[:me] && User.find(session[:me]).admin %>
  <button><%= link_to "back to admin", back_to_admin_session_path, method: :post%></button>
<% end %>